<div class = "container-fluid" ng-controller = "HomeController as vm" ng-init = "vm.init()">
    <div class = "row searchArea">
		<div ng-show = "vm.gameState === 'search'">

			<div class="col-md-12">
				<h3 style = "text-align : center; margin-top : 20px;">Pokéthon</h3>
			</div>

	        <div class = "col-md-10 col-md-offset-1" style = "margin-top : 40px;">
	            <form style = "text-align : center;">
	                <div class="form-group">
	                    <input type="text"
								class="form-control"
								id="inputSearchPokemon"
								placeholder="Search for awesome pokémons"
								ng-model = "vm.textFilter"
								ng-disabled = "vm.disableSearch">

						<ul id = "listSearchPokemon" class="list-group" ng-show = "vm.textFilter">
							<li class = "list-group-item"
								ng-repeat = "pokemon in vm.listPokemons | filter : vm.textFilter | limitTo: 5"
								ng-click = "vm.selectPokemon(pokemon)">
									{{pokemon.name}}
							</li>
						</ul>
	                </div>
	            </form>

	            <div class="col-md-12">
	                <div class = "col-md-12" id="boxSelectedPokemons">
	                    <div class="media boxPokemon"
								style = "float : left"
								ng-class = "{'notSelected' : vm.playerPokemons[0] === undefined, 'playerPokemons' : vm.playerPokemons[0]}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[0] ? vm.playerPokemons[0].sprites.back_default : 'http://www.icon100.com/up/2830/96/ic_question_mark.png'}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[0] ? vm.playerPokemons[0].name : '???????'}}</h3>
								<span>{{vm.playerPokemons[0] ? vm.playerPokemons[0].types[0].type.name : '????'}}</span>
							</div>
	                    </div>
	                    <div class="media boxPokemon playerPokemons"
								style = "float : right; margin-top : 0px;"
								ng-class = "{'notSelected' : vm.playerPokemons[2] === undefined, 'playerPokemons' : vm.playerPokemons[2]}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[2] ? vm.playerPokemons[2].sprites.back_default : 'http://www.icon100.com/up/2830/96/ic_question_mark.png'}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[2] ? vm.playerPokemons[2].name : '???????'}}</h3>
								<span>{{vm.playerPokemons[2] ? vm.playerPokemons[2].types[0].type.name : '????'}}</span>
							</div>
	                    </div>
	                    <div class="media boxPokemon playerPokemons"
								style = "margin : 0 auto;"
								ng-class = "{'notSelected' : vm.playerPokemons[1] === undefined, 'playerPokemons' : vm.playerPokemons[1]}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[1] ? vm.playerPokemons[1].sprites.back_default : 'http://www.icon100.com/up/2830/96/ic_question_mark.png'}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[1] ? vm.playerPokemons[1].name : '???????'}}</h3>
								<span>{{vm.playerPokemons[1] ? vm.playerPokemons[1].types[0].type.name : '????'}}</span>
							</div>
	                    </div>
	                </div>
	            </div>

				<div class="col-md-12" style = "margin-top : 50px;" ng-show = "vm.playerPokemons.length === 3 && vm.enemyPokemons.length === 3">
					<button type="button" class="btn btn-danger center-block" ng-click = "vm.startBattle()">Catch 'em All</button>
				</div>
			</div>
        </div>
    </div>

    <div class="row arenaArea">
		<div ng-show = "vm.gameState === 'battle'">

	        <div class="col-md-12">
				<div class="col-md-6" style = "text-align : center; margin-top : 20px; ">
					<h1>{{vm.score.player}}</h1>
				</div>
				<div class="col-md-6" style = "text-align : center; margin-top : 20px;">
                    <h1>{{vm.score.enemy}}</h1>
				</div>
	        </div>

	        <div class="col-md-12">
				<div class="col-md-6" style = "text-align : center; margin-top : 10px;">
					<h3>{{vm.message.player}}</h3>
				</div>
				<div class="col-md-6" style = "text-align : center; margin-top : 20px;">
                    <h3>{{vm.message.enemy}}</h3>
				</div>
	        </div>

			<div class="col-md-12">
				<div class="col-md-6">
					<div class="col-md-6 col-md-offset-3">
						<div class="media boxPokemonBattle playerPokemons" ng-class = "{'winner' : vm.playerPokemons[0].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[0].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[0].name}}</h3>
								<span>{{vm.playerPokemons[0].types[0].type.name}}</span>
							</div>
	                    </div>
						<div class="media boxPokemonBattle playerPokemons" ng-class = "{'winner' : vm.playerPokemons[1].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[1].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[1].name}}</h3>
								<span>{{vm.playerPokemons[1].types[0].type.name}}</span>
							</div>
	                    </div>
						<div class="media boxPokemonBattle playerPokemons" ng-class = "{'winner' : vm.playerPokemons[2].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.playerPokemons[2].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.playerPokemons[2].name}}</h3>
								<span>{{vm.playerPokemons[2].types[0].type.name}}</span>
							</div>
	                    </div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="col-md-6 col-md-offset-3">
						<div class="media boxPokemonBattle enemyPokemons" ng-class = "{'winner' : vm.enemyPokemons[0].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.enemyPokemons[0].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.enemyPokemons[0].name}}</h3>
								<span>{{vm.enemyPokemons[0].types[0].type.name}}</span>
							</div>
	                    </div>
						<div class="media boxPokemonBattle enemyPokemons" ng-class = "{'winner' : vm.enemyPokemons[1].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.enemyPokemons[1].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.enemyPokemons[1].name}}</h3>
								<span>{{vm.enemyPokemons[1].types[0].type.name}}</span>
							</div>
	                    </div>
						<div class="media boxPokemonBattle enemyPokemons" ng-class = "{'winner' : vm.enemyPokemons[2].winner}">
							<div class="media-left">
								<img class = "media-object" src="{{vm.enemyPokemons[2].sprites.back_default}}" />
							</div>
							<div class="media-body">
								<h3>{{vm.enemyPokemons[2].name}}</h3>
								<span>{{vm.enemyPokemons[2].types[0].type.name}}</span>
							</div>
	                    </div>
					</div>
				</div>
			</div>

			<div class="col-md-12" style = "margin-top : 20px; margin-bottom : 10px;">
				<button type="button" class="btn btn-success center-block" ng-click = "vm.battleButtonAction()">{{vm.battleButtonValue}}</button>
			</div>

		</div>
    </div>
</div>
